{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{{ form_start(form) }}
    {{ form_widget(form) }}
      <div class="input-field col s12 l6">
                                <input id="author" name="name" type="text" class="validate">
                                <label for="author">Your Name</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Your Email</label>
                            </div>

    <button class="btn">{{ button_label|default('Save') }}</button>

{%if campaign_title is defined%}
{% block javascript%}

    <script>

        var inputCampaignTitle = document.querySelector('$campaign_title')
        inputCampaignTitle.value ={{campaign_name}};
    </script>

{% endblock %}
{% endif %}
{{ form_end(form) }}
